<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <div class="container"> <!-- Wrap the content in a container for better alignment -->
      <a class="navbar-brand text-white mr-auto" href="#">Person Management</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon text-white"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/persons" routerLinkActive="active">Person</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/login" routerLinkActive="active">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/about" routerLinkActive="active">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/contact" routerLinkActive="active">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  